---
import '../styles/reset.css';
import '../styles/globals.css';
import '../styles/article.css';

import { getEntry, render } from 'astro:content';
import { name, themeColor } from 'spectre:globals';
import Background from '../components/Background.astro';
import Card from '../components/Card.astro';
import Icon from '../components/Icon.astro';
import Navbar from '../components/Navbar.astro';

const resume = await getEntry('other', 'resume');
const { Content: Resume } = await render(resume!);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="preload" href="/fonts/Geist.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="/fonts/GeistMono.woff2" as="font" type="font/woff2" crossorigin="">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Resume | {name}</title>
		<meta name="description" content="Nathan Ash - Technical Services Manager and Systems Engineer based in Melbourne" />
		<meta name="theme-color" content={themeColor}>
	</head>
	<body>
		<main>
			<Navbar />
			<div class="resume-container">
				<article data-pagefind-body>
					<Card>
						<div class="header-container">
							<Icon type='lucide' name="file-text" width={24} height={24} class='glow-icon' />
							<h1 class="no-mt">Nathan Ash</h1>
						</div>
						<Resume />
						<hr class="end-of-article" />
						<a href="/" class="block-link">← Back to homepage</a>
					</Card>
				</article>
			</div>
		</main>
		<Background />
	</body>
</html>
<style>
	.resume-container {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 2rem;
	}
	
	article {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	@media screen and (max-width: 640px) {
		.resume-container {
			padding: 0 1rem;
		}
	}
</style>
